{% extends 'Administrateur/base.html' %}

{% block content %}
<div class="container">
    <h2>Tous les achats</h2>
    <div class="row g-4 mb-4">
        <div class="col-md-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-title mb-1">Achats</a></h6>
                            <h2 class="mb-0">{{ nbrAchats }}</h2>
                        </div>
                        <div class="fs-1 opacity-75">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Livre</th>
                    <th>Date</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                {% for achat in achats %}
                <tr>
                    <td>#{{ achat.id }}</td>
                    <td>{{ achat.user.nom}} {{achat.user.prenom }}</td>
                    <td>
                        {{ achat.livre.titre }}
                    </td>
                    <td>{{ achat.date|date:"d/m/Y H:i" }}</td>
                    <td>{{ achat.total }} €</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center py-4">
                        <i class="fas fa-box-open fa-2x mb-2"></i>
                        <p>Aucun achat enregistré</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; Première</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
            </li>
            {% endif %}
            
            <li class="page-item active">
                <span class="page-link">
                    Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Dernière &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}